<div class="m-10">
  <div>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a person"
      [(ngModel)]="selectedValue"
      nzSize="large"
      id="select"
    >
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select>

    <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="listOfSelectedValue"
      nzSize="large"
      id="select"
      [style.width.px]="400"
      class="ml-5"
    >
      <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList>
      and {{ selectedList.length }} more selected
    </ng-template>
  </div>
</div>
