<div class="m-10 h-full">
  <button nz-button nzType="primary" class="mr-5">Primary Button</button>
  <button nz-button nzType="primary" class="mr-5" nzGhost>Primary Ghost</button>
  <nz-button-group>
    <button nz-button>DropDown</button>
    <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
      <i nz-icon nzType="ellipsis"></i>
    </button>
  </nz-button-group>
  <nz-dropdown-menu #menu1="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item>menu1 1st menu item</li>
      <li nz-menu-item>menu1 2nd menu item</li>
      <li nz-menu-item>menu1 3rd menu item</li>
    </ul>
  </nz-dropdown-menu>
  <div class="mt-4">
    <!-- <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a person"
      [(ngModel)]="selectedValue"
      id="select_"
    >
      <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
      <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
    </nz-select> -->

    <!-- <nz-select
      [nzMaxTagCount]="3"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="listOfSelectedValue"
      id="select_"
      [style.width.px]="400"
      class="ml-5"
    >
      <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select> -->
    <!-- <ng-template #tagPlaceHolder let-selectedList>
      and {{ selectedList.length }} more selected
    </ng-template> -->
  </div>
  <div class="my-5 h-screen">
    <nz-select
      [(ngModel)]="selectedValue"
      nzAllowClear
      nzPlaceHolder="Choose"
      nzShowSearch
      id="select_"
      class="mr-5"
    >
      <nz-option-group nzLabel="Manager">
        <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-option-group>
      <nz-option-group nzLabel="Engineer">
        <nz-option nzValue="tom" nzLabel="Tom"></nz-option>
      </nz-option-group>
      <nz-option nzDisabled nzCustomContent>
        <div class="flex items-center">
          <i nz-icon nzType="loading" class="loading-icon mr-2"></i> Loading Data...
        </div>
      </nz-option>
    </nz-select>

    <!-- <nz-select
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="input search text"
      [(ngModel)]="selectedValue"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      (nzOnSearch)="search($event)"
      nzSize="large"
      id="select_"
      class="mr-5"
    >
      <nz-option *ngFor="let o of listOfOption2" [nzLabel]="o.text" [nzValue]="o.value">
      </nz-option>
    </nz-select>

    <nz-select
      nzShowSearch
      nzAllowClear
      [nzDropdownRender]="renderTemplate"
      nzPlaceHolder="custom dropdown render"
      nzSize="large"
      id="select_"
      [style.width.px]="300"
    >
      <nz-option *ngFor="let item of listOfItem" [nzLabel]="item" [nzValue]="item"></nz-option>
    </nz-select>
    <ng-template #renderTemplate>
      <nz-divider></nz-divider>
      <div class="container">
        <input type="text" nz-input #inputElement />
        <a class="add-item" (click)="addItem(inputElement)"
          ><i nz-icon nzType="plus"></i> Add item</a
        >
      </div>
    </ng-template> -->
  </div>
</div>
