@import 'antd/select';

nz-select {
  width: 200px;
}

nz-divider {
  margin: 4px 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  padding: 8px;
}
input {
}
.add-item {
  flex: 0 0 auto;
  padding: 8px;
  display: block;
}

// .cropper-bg {
//   width: 500px;
//   height: auto;
// }

.cropper img {
  width: 500px;
}

.ww {
  width: 500px;
}

// .cropper-bg {
//   width: 500px !important;
// }
