@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~ng-zorro-antd/style/index.min.css';
@import '~ng-zorro-antd/select/style/index.min.css';

.body {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 6px;
  display: block;
  background-color: rgb(238, 238, 238);
}

// ::-webkit-scrollbar-corner {
//   background: rgb(0 0 0 / 0%);
// }

::-webkit-scrollbar-thumb {
  @apply bg-purple-300 rounded shadow-none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  @apply rounded bg-gray-100;
}
